	
@charset 'UTF-8';


	body
	{
	height:100%;
	width: 100%;
	background: url("images/header.jpg") no-repeat center bottom;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	/*xwborder: solid 1px #FFF;*/
	margin-left: 0;

	}

section{
	z-index: -10;
	background-color: rgba(0,0,0,0.6);
	width: 90%;
	margin: auto;

}

#social{
	border: solid 1px #FFF;
}

#profilepic{
	float: left;
	z-index: 1;
	display: inline;
	margin:  1em ;
	position: relative;
	max-width: 40%;
	padding: 1em;
	overflow: hidden;
}


a img{
	position: relative;
	float:right;
	margin:1em;
	/*border: solid 1px #FFF;*/
}
h4
{
z-index: -9;
color: white;
overflow: hidden;
max-width: 80%;
line-height: 1.2em;
padding: 1em;
font-weight: 6;
}


		
		#logo h1{
		letter-spacing: -0.01em;
		font-size: 5em;
		font-weight:200;
		line-height: 0.7em;
		font-family: 'Ubuntu', sans-serif;
		}
             #flip1, #flip2, #flip3{
			color:white;
  		  	text-align: center;
  		  	padding: 0em 2em 0 2em;

			}
			#flip2
			  		 { 	border-right: solid 1px #FFF;
			  		 	border-left: solid 1px #FFF;

			  		 }

			#panel11,#panel12, #panel13,#panel14,#panel15, #panel16, #panel21,#panel22,#panel23,#panel24,#panel25, #panel31,#panel32, #panel41 {
	    	 display: none;
	    	 background: rgba(255,255,255,1);
	    	 font-size: 80%;
	    	 text-align: center;
	    	 z-index: 20;
	    	 /*padding: 0em 2em 0 2em;*/

			}

			.allpanel a{

				color:#8A3251;
			}

			.allpanel {
				position:absolute;
				color:#8A3251;
				width: 100%;
				/*border: solid 1px #FFF;*/
				line-height: 2em;
			    font-size:1.1em;
			    margin-left: 0;
			    	    	 z-index: 20;


			}

			#panel1{
			margin-left: 24%;
			width: 16%;
			min-width: 6em;
			}

			#panel2{
			margin-left: 42%;
			width: 16%;
			min-width: 6em;
			}

			#panel3{
			margin-left: 60%;
			width: 16%;
			min-width: 6em;

			}


			.tag{
					    	 
			z-index: 20;

			/*border: solid 1px #FFF;*/
			/*float: left;*/
			display: inline-block;
			line-height: 2em;
			font-size:1.2em;
			margin: auto;
	
			}
			a{
	text-decoration: none;
	color:white;
}
		#logo{
		text-align: center;
		color:white;
		height:100%;
		width:100%;
		margin: auto;
		}



