	
@charset 'UTF-8';

@font-face{font-family:'FontAwesome';src:url('font/fontawesome-webfont.eot?v=4.0.1');src:url('font/fontawesome-webfont.eot?#iefix&v=4.0.1') format('embedded-opentype'),url('font/fontawesome-webfont.woff?v=4.0.1') format('woff'),url('font/fontawesome-webfont.ttf?v=4.0.1') format('truetype'),url('font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}



	body
	{
		margin: 0;
		padding: 0;
		background-color: black;
	}
	
	
	.header
	{
		position: relative;
		background: url("images/header.jpg") no-repeat bottom center;
		background-attachment: fixed;
		background-size: cover;
		text-align: center;
		background-color: #eaeaea; 
		
	}
	
	
		
		#logo{
		padding:10% 10% 12%;
		color:white;
		
		}
		
		#logo h1{
		font-family: 'FontAwesome';
		height:200%;
		letter-spacing: -0.025em;
		font-size: 5em;
		font-weight:200;
		}
		
		
		#logo .tag{
		font-size:1.2em;
		font-family: 'FontAwesome';
		font-weight:100;
		}
		
	#portfolio
	{
	text-align:center;
	background:rgb(0,0,0);
	color:#FFF;
	font-family:'FontAwesome';
	padding:1em;
	
	}
				
.name .row  p::first-letter { 
    font-size: 120%;

}
	
	
	main
	{
		text-align:center;
	
	}
	.row
	{
    padding:2em;
	}
	
	.name .row
	{
	padding:0em;
	}
	
	.name
	{
	padding:1em;
	}
	
.half h4
{

position:relative;
line-height:1em;
font-family:'FontAwesome';
color:black;
font-size:120%;

text-align:center;

	}
	
	
#mainwrapper .row .half

{
padding:0.1em;

}
	
#mainwrapper .row .half p
	{
	text-align:right;
	padding-right:1em;
	padding-top:1em;
	padding-left:1em;
	
	}
	
	main .name
	{
	margin:-2em auto 2em;
	}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* base.css, part of YUI's CSS Foundation */
h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:138.5%;  
}
h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:123.1%; 
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:128%;  
}
h1,h2,h3 {
	/* top & bottom margin based on font size */
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold; 
}
abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
blockquote,ul,ol,dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
}
dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
	border:1px solid #000;
	padding:.5em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:right;
	
}
		
		#mainwrapper {
	font: 10pt normal Arial, sans-serif;
	height: auto;
	margin: 10% auto 0 auto;
	text-align: center;
	width: 70%;
}

/* Style */
html { background-color: #eaeaea; }


/* Image Box Style */
#mainwrapper .box {
	border: 5px solid #fff;
	cursor: pointer;
	height: 20em;
	float: left;
	margin: 10px;
	position: relative;
	overflow: hidden;
	width: 90%;
		-webkit-box-shadow: 1px 1px 1px 1px #ccc;
		-moz-box-shadow: 1px 1px 1px 1px #ccc;
		box-shadow: 1px 1px 1px 1px #ccc;
}

#mainwrapper .box img {
	margin:0;
	position: absolute;
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

/* Caption Common Style */
#mainwrapper .box .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}


h6
{

font:10pt "Times New Roman" serif;
margin-bottom:1em;
}

/* Image Box Style */
 .box {

	border: 5px solid #fff;
	cursor: pointer;
	height: 100%;
	float: left;
		overflow: hidden;
	width: 100%;
		-webkit-box-shadow: 1px 1px 1px 1px #ccc;
		-moz-box-shadow: 1px 1px 1px 1px #ccc;
		box-shadow: 1px 1px 1px 1px #ccc;
}

 .box img {

	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:0;
	/*centered so it doesn't blend in to other content*/
	text-align:right;
}

#mainwrapper .box .simple-caption {
	height: 40%;
	width: 100%;
	display: block;
	bottom: -45%;
	line-height: 1.5em;
text-align:right;
}


#mainwrapper .box .simple-caption span {
	padding-top:3em;
	text-align:right;
	
}


#mainwrapper .box:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}


#pig
{
background-color:#3D3A39;
color:#EDD0C8;
}

#rhythmania
{
background-color:#230E33;
color:#ACABD4;

}

#lantern
{
background-color:#55746A;
color:#CFBE98;

}

#antiprocrastinator{

background:#F7DFD0;
color:#41002F;;

}

#gravity
{
background:#E0D8D4;
color:#AB8B88;
}

#doodle{
background:#53647D;
color:#CDDCE5;

}

#colordigger{

background:#73524E;
color:#E8DFD1;

}





#hungerace{ 
background:#5C0B00;  
color:#F7D6C4;
}

#growing{
background:#524B5C;
color:#CDDCE5;

}

div h3{
font-size:160%;
line-height:2em;
}
.name  
{
padding:3em;
font-family:'FontAwesome';
font-size:100%;

}


.name .row .fourth img
{
margin-top:1em;
}

#cv
{
text-align:left;
font-family:'FontAwesome';
background:#444545;
color:#BBBCBD;
}

h5{
text-align:center;
margin-top:-2em;
}


#greetings h3
{
text-align:left;
font-family:'FontAwesome';
	padding-left:5em;
	padding-right:5em;
  text-indent: 3em;
  padding-top:2em;
  padding-bottom:2em;
font-size:120%;
background:#FFEFE4;
}



#greetings h2
{
text-align:center;
font-family:'FontAwesome';
	background:rgb(0,0,0);
	padding:2em;
color:#FFEFE4;
font-size:190%;
}
#cv li
{
font-size:80%;
line-height:1em;

}


#cv #experience li

{font-size:90%;
line-height:1.3em;
}
#credits{
font-size:70%;
line-height:1em;
}


